body {
    font-family: Helvetica,Arial;
    text-align: center;
    background-color: #a28089
    /* background-color: #ffa8B6; */
    /* background-color: #3fb0ac; */
}

#board {
    width: 400px;
    height: 400px;
    border: 2.5px solid  black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#pieces {
    background-color: white;
    width: 1040px;
    height: 160px;
    border: 2px solid brown;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}
#pieces img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}
.HintButtons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    counter-reset: button;
    /* display: flex;
    flex-wrap: wrap; */
}
.Hints{
    font-size: larger;
    padding: 10px;
    height: 80px;
    width : 150px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    border-color: brown;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #3fb0ac;
}







.img1 {
    width: 50%; 
    max-width: 200px; 
    height: auto; 
    display: block; 
    margin-top: 10%;
    margin-right: 50%;
    margin-left: 43%;
    border: 2px solid black; 
  }
  